#submitForm {
  justify-content: center;
  padding-bottom: 20px;
}

#versionSelect {
  margin-bottom: 10px;
}

#textField {
  display: flex;
  justify-content: space-between;
  border: 10px solid #888;
  border-color: green;
  width: 600px;
  height: 150px;
}

#textArea {
  padding-bottom: 10px;
}

#submitButton {
  color: white;
}