#submitForm {
  justify-content: center;
  padding-bottom: 20px;
}

#languageSelect {
  margin-bottom: 10px;
}

#textField {
  display: flex;
  justify-content: space-between;
  border: 1px solid #888;
  border-color: #707070;
  width: 750px;
  height: 510px;
  resize: none;
  outline: none;
}

#lineCounter {
  text-align: right;
  box-shadow: none;
  color: #707070;
  border-color: #707070;
  background-color: #d8d8d8;
  width: 3.5rem;
  resize: none;
  outline: none;
}

#textArea {
  display: flex;
  padding-bottom: 10px;
}

#submitButton {
  color: white;
}