.navbar {
  display: flex;
  justify-content: space-between;
  background: black;
  padding: 10px;
  margin: -10px;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.icon {
  height: 45px;
  margin-right: 10px;
  margin-top: 6px;
  vertical-align: top;
}

.buttons {
  align-self: center;
}

#login {
  color: white;
}

a {
  text-decoration: none;
}

#logoutButton {
  color: white;
}

.menu{
  .MuiPaper-root {
    background-color: #E6002B;
    color: white;
  };
}

